PORT=4000
FRONTEND_URL=http://localhost:3000
OAUTH_ISSUER=http://localhost:4000
JWT_SECRET=your-jwt-secret
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n..."
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n..."
DATABASE_URL=postgresql://user:password@localhost:5432/mydb
IDATABASE_URL="file:./dev.db"
REDIS_URL=redis://localhost:6379
